{% extends 'base.html' %}
{%load static%}
{% block title %}About Us{% endblock title %}

{% block style %}

    body {
        background-color: #1c1e26;
        color: #c0c0c0;
    }

    .jumbotron {
        background-color: #273444;
        color: #ffffff;
        padding: 50px;
        margin-bottom: 0;
    }

    .jumbotron h1 {
        font-size: 60px;
    }

    .jumbotron p {
        font-size: 20px;
    }

    .jumbotron .btn-dark {
        background-color: #ffc107;
        border-color: #ffc107;
        color: #1c1e26;
    }

    .jumbotron .btn-dark:hover {
        background-color: #ffa000;
        border-color: #ffa000;
        color: #1c1e26;
    }

    .jumbotron .display-4 {
        font-size: 60px;
    }

    .jumbotron .lead {
        font-size: 24px;
    }

    .section-title {
        color: #ffc107;
        font-size: 36px;
        text-align: center;
        margin-bottom: 40px;
    }

    .feature-box {
        background-color: #273444;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .feature-box img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .feature-box h2 {
        color: #ffc107;
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
    }

    .feature-box p {
        font-size: 18px;
        text-align: center;
    }

    .faq-section {
        background-color: #273444;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .faq-section h3 {
        color: #ffc107;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .faq-section p {
        font-size: 18px;
        line-height: 1.6;
    }

{% endblock style %}

{% block body %}
